
@{
    ViewBag.Title = LAWResource.管理人員設定;
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div class="form-group row">
    <div class="col-md-3">
        <button class="btn btn-default group1" id="btnInsert" data-bind="click: InsertClick">@EP.PlatformResources.新增</button>
    </div>
</div>
<div class="row col-md-12">
    <table id="datatable" class="table">
        <thead>
            <tr>
                <th>@LAWResource.名稱</th>
                <th>@EP.PlatformResources.刪除</th>
            </tr>
        </thead>
        <tbody id="datatbody">
        </tbody>
    </table>
</div>


<script>
    var ViewModel = {
        InsertClick: function () {
            location.href = '@Url.Action("Create", "LAWTX001", new { area = "LAW" })';
        },
    }
    $(document).ready(function () {
        ko.applyBindings(ViewModel);
        GetLawsys();
    });
    function GetLawsys() {
         $.ajax({
             method: "POST",
             cache: false,

             url: '@Url.Action("Query", "LAWTX001", new { area = "LAW" })',
             complete: function (data) {
                        console.log(data.responseJSON);
                        if (data.responseJSON === undefined) {
                        } else {
                            $(".remtr").remove();
                            $.each(data.responseJSON, function () {
                                let str = "<tr class='remtr'><td>" + this.SysName + "</td><td>"
                                    + '<button id="delBtn" class="btn btn-danger" onclick="ConfirmDelete(\'' + this.ID + '\')">@EP.PlatformResources.刪除</button></td></tr>';
                                $("#datatbody").append(str);
                            });
                        }
             },
             error: function (ex) {
             if (ex.statusText == "OK") {
             } else {
                 appendMessage("@EP.PlatformResources.系統發生錯誤");
                 }
             }
         });
    }

    function ConfirmDelete(ID) {
            var result = confirm('@EP.PlatformResources.確定刪除?');
            if (result) {
                DeleteData(ID);
            }
    }
    function DeleteData(ID) {
            $.ajax({
                method: "POST",
                cache: false,
                url: '@Url.Action("Delete", "LAWTX001", new { area = "LAW" })',
                data: { ID: ID },
                complete: function (data) {
                    GetLawsys();
                },
                error: function (ex) {
                    if (ex.statusText == "OK") {
                    } else {
                        appendMessage("@EP.PlatformResources.系統發生錯誤");
                    }
                }
            });
    }
</script>

