@model EP.PSL.WorkResources.MeetingMng.Web.Areas.MeetingMng.Model.MeetingDetailModel
@{
    var thisGroupType = AccountGroupType.MessageFun;
    Model.JBStartDate = DateTime.Today;
    Model.JBEndDate = DateTime.Today;
}

@using (Html.BeginForm("CreateJob", "MMTX002", null, FormMethod.Post, new { id = "CreateJobSubmit" }))
{
    <div class="form-horizontal">
        <div class="form-group hidden">
            <div class="col-md-10">
                <input type="text" name="MTID" value="@Model.MTID" />
            </div>
        </div>
        <div class="detail-col form-group form-inline">
            <img class="index-title-icon" src="~/Content/img/megaphone_g.png" />
            @Html.LabelFor(m => m.JBSubject, new { @class = "detail-msg" })
            <div class="col-md-offset-1">
                @Html.TextBoxFor(m => m.JBSubject, new { @placeholder = EP.PSL.WorkResources.MeetingMng.Models.MeetingMngResource.請輸入追蹤事項, @maxlength = "100", @class = "detail-cell", @style = "width:88%" })
            </div>
        </div>
        <div class="detail-col form-group form-inline">
            <img class="index-title-icon" src="~/Content/img/book_g.png" />@Html.LabelFor(m => m.JBDesc, new { @class = "detail-msg" })
            <div class="detail-cell">
                <textarea id="JBDesc" name="JBDesc" style="width:100%;" rows="10" cols="60" placeholder="@EP.PSL.WorkResources.MeetingMng.Models.MeetingMngResource.請輸入事項說明"></textarea>
            </div>
        </div>
        <div class="detail-col form-group form-inline">
            <img class="index-title-icon" src="~/Content/img/calendar_g.png" />@Html.LabelFor(m => m.JBStartDate, new { @class = "detail-msg" })
            <div class="col-md-offset-1">
                @Html.TextBoxFor(m => m.JBStartDate, new { @class = "jquery_datetimepicker " + "detail-cell", @style = "width:88%", @Value = Model.JBStartDate.ToString("yyyy/MM/dd HH:mm"), @maxlength = "16" })
            </div>
        </div>
        <div class="detail-col form-group form-inline">
            <img class="index-title-icon" src="~/Content/img/calendar_g.png" />@Html.LabelFor(m => m.JBEndDate, new { @class = "detail-msg" })
            <div class="col-md-offset-1">
                @Html.TextBoxFor(m => m.JBEndDate, new { @class = "jquery_datetimepicker " + "detail-cell ", @style = "width:88%", @Value = Model.JBEndDate.ToString("yyyy/MM/dd HH:mm"), @maxlength = "16" })
            </div>
        </div>

        @*設定成員(接收者)*@
        <div class="detail-col form-group form-inline" id="recipient-area">
            <img class="index-title-icon" src="~/Content/img/recipient_chat_g.png" />
            @Html.LabelFor(m => m.Jobimember, new { @class = "detail-msg" })
            <div class="detail-cell">
                <ul>
                    <div id="H2OGP">
                        @{Html.RenderPartial("~/Views/Shared/AccountGroupSelector.cshtml",
                                                new AccountGroupSelector("AccountGroupSelector", EP.PlatformResources.選擇人員, thisGroupType) { OnSelected = "onDialogSelected" });}
                        <button type="button" class="btn btn-danger" id="addusers" tabindex="4">成員</button>
                        <div class="detail-cell" id="RecipientToShow">
                        </div>
                        @Html.TextBoxFor(m => m.RecipientToJson, new { style = "display:none;width:100%" })
                    </div>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <input id="btnSave" type="button" class="btn btn-default" value="@EP.PlatformResources.儲存" />
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        //CKEDITOR.replace('JBDesc', { filebrowserImageUploadUrl: '/IB/MMTX002/UploadPicture' });
        var opt = {
            dateFormat: 'yy/mm/dd',
            showSecond: false,
            timeFormat: 'HH:mm',
            mask: true,
            minDate: new Date(),
            onSelect: function (date) { }
        };
        $(".jquery_datetimepicker").datetimepicker(opt);
        //隱藏選擇視窗的原本按鍵
        $("#AccountGroupSelectorPopButton").hide();
        $("#addusers").click(addUsersClick);
        if ($("#RecipientToJson").val() != '') {
            recipientSelectShow($("#RecipientToJson").val());
        }
    })
    $("#btnSave").click(function (e) {
        if (saveValidator()) {
            e.preventDefault();
            $("#CreateJobSubmit").attr('action', '@Url.Action("CreateJob", "MMTX002")');
            $("#CreateJobSubmit").submit();
        }
    });
    //@*人員視窗選擇結果處理*@
    function onDialogSelected() {
        //取得它的選擇資訊(JSON格式)
        var hiddenValue = $("#AccountGroupSelector").getHiddens()[0];
        recipientSelectShow(hiddenValue);

    }
    function addUsersClick() {
        //手動呼叫Dialog視窗
        $("#AccountGroupSelector").openDialog();
    }
    function recipientSelectShow(jsonValue) {
        var $select = $('#RecipientToShow');
        $select.attr('style', "height:200px;overflow:auto;").html('');
        if (jsonValue == undefined) return;
        var jsonItems = JSON.parse(jsonValue);
        $("#RecipientToJson").val(jsonValue);

        $.each(jsonItems, function (idx, obj) {
            var unit = '';
            //$select.append($('<option>').text(obj.Unit+" "+obj.Text).attr('value', obj.Key).prop("selected", true));

            $select.append('<ul>' + obj.Unit + " " + obj.Text + '</ul>');
        });
    }
    function saveValidator() {
        @*判斷時間格式*@
        var sdate = $("#JBStartDate").val();
        var edate = $("#JBEndDate").val();
        if (sdate != "" && edate != "") {
            var StartDate = new Date(sdate);
            var EndDate = new Date(edate);
            if (EndDate <= StartDate) {
                alert("@EP.PSL.WorkResources.MeetingMng.Models.MeetingMngResource.日期格式有誤");
                return false;
            }
        }
        if ($("#JBSubject").val() == "") {
            alert("@( @EP.PSL.WorkResources.MeetingMng.Models.MeetingMngResource.標題 + EP.PlatformResources.必填)");
            return false;
        }
        if ($("#JBDesc").val() == "") {
            alert("@( @EP.PSL.WorkResources.MeetingMng.Models.MeetingMngResource.說明 + EP.PlatformResources.必填)");
            return false;
        }
        if ($("#RecipientToJson").val() == "") {
            alert("@( @EP.PSL.WorkResources.MeetingMng.Models.MeetingMngResource.成員 + EP.PlatformResources.必填)");
            return false;
        }
        return true;
    }
</script>

